p{
  
  text-align: center;
  background-color: #ffffff;
  font-size: 34px;
}
body{
  background: #3fb8af;
}

#image{
  width: 25%;
}

h2{
  font-size: 50px;
  text-align: center;
  border: 10px double #ffffff;
}

ul{
 display: inline-block;
 vertical-align: top;
 padding: 2%;
 font-size: 25px;
}
.cabecalho{
	border: 20px double #d9d593;
}
.ii{
	font-size: 50px;
	display: inline-block;
	border: 10px solid #ffffff;
	padding: 2%
	color:black;
	text-align: left;
}
.pizza{
	padding: 2%;
	margin-left: 43%;
        display: inline-block;

}

h1{
  font-size: 50px;
}
/* Paleta de cores
Ciano: #3fb8af
Azul calcinha: #7fc7af
Branco sujo: #dad8a7
Rosa fraco: #ff9e9d
Rosa forte: #ff3d7f */
