p{
  text-align: center;
  background-color: #f0c505;
}
body{
  background: #651366;
}
em strong {
  color: #a71a5b;
}
#image{
  width: 25%;
}


/* Paleta de cores
Roxo: #651366
Magenta: #a71a5b
Rosa: #e7204e
Laranja: #f76e2a
Amarelo: #f0c505 */
